<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <%&#45;&#45;引入layui的css&#45;&#45;%>-->
    <link rel="stylesheet" href="lib/layui/css/layui.css" media="all">
<!--    <%&#45;&#45;layui的js&#45;&#45;%>-->
    <script src="lib/layui/layui.js"></script>
<!--    <script type="text/javascript" src="lib/jquery/1.9.1/jquery.js"></script>-->
    <script type="text/javascript">
        layui.use('laypage', function(){
            var laypage = layui.laypage;
            //执行一个laypage实例
            laypage.render({
                elem: 'page', //注意，这里的 test1 是 ID，不用加 # 号
                count:[[${pageInfo.total}]],//数据总数，从服务端得到
                // count:'[[${pageInfo.total}]]',//数据总数，从服务端得到
                limit:[[${pageInfo.pageSize}]],    //每页显示的条数
                limits:[1,2,3,4,5],
                //每页显示条数的选择项（下拉列表）
                curr:[[${pageInfo.pageNum}]],  //当前页
                groups:5,  //连续出现的页码
                layout:['count','prev','page','next','refresh','limit','skip'],
                jump: function(obj, first){
                    //obj包含了当前分页的所有参数，比如：
                    // console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                    // console.log(obj.limit); //得到每页显示的条数
                    // console.log(${params});//{"userName":"a"}
                    // console.log("${param.bodyId}");//userbody
                    // console.log("${url}");

                    //首次不执行
                    if(!first){
                    //<%--location.href="sysUser/selectByCondition?currentPage="+obj.curr+"&pageSize="+obj.limit+"&userName=${userName}";--%>
                        $('#'+[[${param.bodyId}]]).load("[[${url}]]?currentPage="+obj.curr+"&pageSize="+obj.limit,[[${params}]]);

                    }
                }
            });
        });
    </script>
</head>
<body>
<footer th:fragment="page">
<div id="page"></div>
</footer>
</body>
</html>